/* Smartphone */
@media (max-width: 575.98px) {
  .container-fluid {
    padding: 0 1%;
  }
  .navbar-brand {
    font-size: 1rem;
  }
}

/* Tablet */
@media (min-width: 576px) {
  .container-fluid {
    padding: 0 10%;
  }
  .navbar-brand {
    font-size: 1.25rem;
  }
  .article-card {
    padding: 5% 0;
  }
}

/* Laptop */
@media (min-width: 768px) {
  .article-card {
    padding: 5% 15%;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .container-fluid {
    padding: 0 15%;
  }
  .carousel-card {
    padding: 1% 25%;
  }
}

/* General Properties */

body {
  font-family: 'Muli', sans-serif;
}

h1 {
  line-height: 1.5;
  text-align: center;
}

h3 {
  font-weight: bold;
  line-height: 1.5;
}

.container-fluid {

}

/* Navigation Bar */

#navigation {
  background-color: #3F729B;
  padding: 3% 0;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  font-weight: bold;
  white-space: normal;
}

/* Content Section */

#content {
  background-color: #f5f5f5;
  padding: .5% 0;
  text-align: center;
}

.article-card {
  margin: .5% 0;
}

.carousel-card {
  margin: .5% 0;
}

.card-body {

}

.card-subtitle {
  margin-top: .75rem;
  margin-bottom: 0;
}

.hr-services {
  background-color: #f5f5f5;
  margin: 3% 0;
}

.service-insurance {
  font-weight: bold;
  padding: 3% 0;
  text-align: center;
}

.service-subtitle {
  font-weight: bold;
  padding: 1% 0;
  text-align: left;
}

.service-description {
  text-align: left;
}

.service-image {
  margin: 2% 0;
}

.service-youtube {
  margin: 3% 0 2%;
}

.slideshow-card {
  margin: 2% 0;
}

.slideshow-text {
  text-align: left;
}

.testimonial {
  padding: 1% 0;
  line-height: 1.5;
  text-align: center;
}

/* Footer Section */

#footer {
  background-color: #3F729B;
  color: #fff;
  padding: 2% 0;
  text-align: center;
}

.copyright-text {

}

.footer-left {
  margin-top: 1%;
}

.footer-right {
  line-height: 3;
  margin-top: 1%;
}

.footer-title {
  font-weight: bold;
  line-height: 2;
}

.footer-text {
  line-height: 0.5;
}

.hr-footer {
  padding-top: 3%;
  width: 20rem;
}

.social-icon {
  margin: 0 10px;
}
