/* Smartphone */
@media (max-width: 575.98px) {
  .navbar-brand {
    font-size: 1rem;
  }
}

/* Tablet */
@media (min-width: 576px) {
  .container-fluid {
    padding: 0 3%;
  }
  .navbar-brand {
    font-size: 1.25rem;
    margin-right: 7rem;
  }
  .primary-card {
    padding: 5% 0;
  }
  .secondary-card {
    padding: 0;
  }
}

/* Laptop */
@media (min-width: 768px) {
  .primary-card {
    padding: 5% 15%;
  }
  .secondary-card {
    padding: 0 15%;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .container-fluid {
    padding: 0 15%;
  }
  .carousel-card {
    padding: 1% 25%;
  }
}

/* General Properties */

/* No blue-colored phone numbers on iOS */
a[href^=tel] {
   text-decoration:inherit;
   color: inherit;
}

body {
  font-family: 'Muli', sans-serif;
  text-align: left;
}

h3 {
  font-weight: bold;
  line-height: 1.5;
}

h4 {
  font-weight: bold;
  line-height: 1.5;
}

h5 {
  font-weight: bold;
  line-height: 1.5;
}

hr {
  background-color: #f5f5f5;
  margin: 3% 0;
}

/* Navigation Bar */

#navigation {
  background-color: #3F729B;
  padding: 3% 0;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  font-weight: bold;
  white-space: normal;
}

/* Content Section */

#content {
  background-color: #f5f5f5;
  padding: 3% 0;
}

.banner {
  background-color: #3F729B;
}

.btn-block {
  margin: .5% 0;
  padding: 2%;
}

.btn-icon {
  display: inline;
}

.btn-title {
  display: inline;
  padding-left: 1%;
  white-space: normal;
}

.card {
  margin: .5% 0;
}

.card-subtitle {
  font-weight: bold;
  margin-top: .75rem;
  margin-bottom: 0;
  padding: 1% 0;
}

.card-title {
  text-align: center;
}

.hours-time {
  padding-bottom: 1%;
}

.text-spacing {
  margin: 1px 0;
}

.insurance {
  font-weight: bold;
  padding: 0;
  text-align: center;
}

/* Lightbox */

.modal-header {
  border-bottom: 0;
  padding-bottom: 1rem;
}

.modal-header .close {
  font-size: 2.5rem;
}

.modal-backdrop.show {
  opacity: .9;
}

.contact {
  padding-top: 8%;
}

/* Footer Section */

#footer {
  background-color: #3F729B;
  color: #fff;
  padding: 2% 0;
  text-align: center;
}

.footer-left {
  line-height: 0.5;
  margin-top: 1%;
}

.footer-right {
  line-height: 3;
  margin-top: 1%;
}

.footer-title {
  font-weight: bold;
  line-height: 2;
}

.social-icon {
  margin: 0 10px;
}
