/* Extra Small */
@media (max-width: 575.98px) {
  .container-fluid {
    padding: 0;
  }
  .content-box {
    padding: 1.25rem 0;
  }
  .logo {
    font-size: 1.5rem;
  }
}

/* Small */
@media (min-width: 576px) {
  .container-fluid {
    padding: 0;
  }
  .content-box {
    padding: 1.25rem 0;
  }
  .logo {
    font-size: 1.5rem;
  }
}

/* Medium */
@media (min-width: 768px) {
  .content-box {
    padding: 1.25rem;
  }
  .logo {
    font-size: 1.75rem;
  }
}

/* Large */
@media (min-width: 992px) {
  .logo {
    font-size: 1.5rem;
  }
}

/* Extra Large */
@media (min-width: 1200px) {
  .container-fluid {
    padding: 0 15%;
  }
  .logo {
    font-size: 1.75rem;
  }
}

/* General Properties */

/* No blue-colored phone numbers on iOS */
a[href^=tel] {
   text-decoration:inherit;
   color: inherit;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Muli', sans-serif;
  text-align: left;
}

h3 {
  font-weight: bold;
  line-height: 1.5;
}

h4 {
  font-weight: bold;
  line-height: 1.5;
}

h5 {
  font-weight: bold;
  line-height: 1.5;
}

hr {
  background-color: #f5f5f5;
  margin: 3% 0;
}

i:hover {
  color: #00bfff;
}

/* Navigation Sidebar */

.active {
  background-color: #345d7f;
}

.bg-logo {
  background-color: #457ca9;
}

.bg-toggler {
  background-color: #457ca9;
}

.bg-nav-item {
  background-color: #457ca9;
  border-top: 1px solid #345d7f;
}

.bg-nav-item:hover {
  background-color: #4c86b6;
}

.bg-connect {
  background-color: #457ca9;
  border-top: 1px solid #345d7f;
}

.navbar {
  padding: 0;
}

.nav-card {
  background-color: #3f729b;
  height: 100%;
  min-height: 100%;
  padding: 0;
}

.nav-item {
  font-size: 1.10rem;
}

.nav-item-last {
  border-bottom: 1px solid #345d7f;
}

/* Page Content */

#content {
  background-color: #ebebeb;
  padding: 0;
}

.bg-content-box {
  background-color: #f5f5f5;
}

.bg-header {
  background-color: #345d7f;
}

.banner {
  background-color: #457ca9;
  color: #fff;
}

.btn-block {
  margin: .5% 0;
  padding: 2%;
}

.btn-icon {
  display: inline;
}

.btn-title {
  display: inline;
  padding-left: 1%;
  white-space: normal;
}

.card {
  margin: 0;
}

.card-subtitle {
  color: #0277bd;
  font-weight: bold;
  margin-top: .75rem;
  margin-bottom: 0;
}

.card-title {
  color: #0277bd;
  text-align: center;
}

/* Video Lightbox */

.modal-header {
  border-bottom: 0;
  padding-bottom: 1rem;
}

.modal-header .close {
  font-size: 1.5rem;
}

.modal-backdrop.show {
  opacity: .9;
}
