/* General Properties */

body {
  font-family: 'Muli', sans-serif;
}

h1 {
  line-height: 1.5;
  text-align: center;
}

h3 {
  font-weight: bold;
  line-height: 1.5;
}

.container-fluid {
  padding: 0 15%;
}

/* Navigation Bar */

#navigation {
  background-color: #3F729B;
  padding: 3% 0;
}

.navbar {
  padding: 0;
  margin-right: -.5rem;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-toggler {
  margin-right: .5rem;
}

/* Heading Section */

#heading {
  background-color: #b2ebf2;
  padding-bottom: 5%;
  text-align: center;
}

.heading-card {
  padding: 2% 10%;
}

.slideshow-text {
  padding: 10% 10% 7%;
  text-align: left;
}

/* Content Section */

#content {
  background-color: #f5f5f5;
  padding: 2% 0;
  text-align: center;
}

.article-card {
  margin: 2% 0;
  padding: 5% 10%;
}

.hr-services {
  background-color: #f5f5f5;
  margin: 3% 0;
}

.service-insurance {
  font-weight: bold;
  padding: 3% 0;
  text-align: center;
}

.service-subtitle {
  font-weight: bold;
  padding: 1% 0;
  text-align: left;
}

.service-description {
  text-align: left;
}

.service-image {
  margin: 2% 0;
}

.service-youtube {
  margin: 3% 0 2%;
}

.slideshow-card {
  margin: 2% 0;
}

.testimonial {
  padding: 1% 0;
  line-height: 1.5;
  text-align: center;
}

/* Footer Section */

#footer {
  background-color: #3F729B;
  color: #fff;
  padding: 3% 15%;
  text-align: center;
}

.copyright-text {
  padding-top: 4%;
}

.footer-left {
  margin: 2% 0;
}

.footer-right {
  margin: 2% 0;
}

.footer-title {
  font-weight: bold;
  padding-bottom: 2%;
}

.footer-text {
  line-height: 0.5;
}

.hr-footer {
  padding-top: 3%;
  width: 20rem;
}

.social-icon {
  margin: 0 10px;
}
